

.admin-btn{
    display: flex;
    width: 12rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    border: 1px solid var(--primaryColor);
}

.admin-btn a{
    color: var(--primaryColor);
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.admin-btn a:hover{
    opacity:.8;
    color: var(--whiteColor);
    background-color: var(--primaryColor);
    border: none;
}

/* Section admin */

main.admin{
    display: flex;
    height: 75vh;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
    background-color: var(--secondaryColor5x);
}

.admin__container{
    display: flex;
    justify-content: center;
}

.admin__title{
    font-size: 1.5rem;
}

.admin__form{
    display: flex;
    width: 40vw;
    max-width: 80%;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    flex-shrink: 0;
}

.admin__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.625rem;
    background: var(--primaryColor);
}

.admin__btn a{
    width: 100%;
    text-align: center;
    padding: 1rem;
    color: var(--whiteColor);
}

.admin__btn a:hover{
    background-color: var(--hoverColor);
}