@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li{
    list-style:none;
}

:root{
    --primaryColor: #2A7AE4;
    --secondaryColor5x: #F5F5F5;
    --secondaryColor50x: #A2A2A2;
    --secondaryColor100x: #464646;
    --whiteColor: #FFFFFF;
    --lightColor: #EAF2FD;
    --hoverColor: #83b2f4;
}


/* Section Header */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    align-self: stretch;
    background: var(--whiteColor);
}

nav{
    display: flex;
    width: 71rem;
    padding: 2rem 0rem;
    justify-content: space-between;
    align-items: center;
}

.logo__container{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logo{
    display: flex;
    align-items: center;
}

.input__container{
    display: flex;
    width: 24.5625rem;
    padding: 0.5rem 1rem;
    align-items: center;
    gap: 0.5rem;
}

.search{
    display: flex;
    width: 24.5625rem;
    padding: 0.5rem 1rem;
    align-items: center;
    gap: 0.5rem;
    border-radius: 1.25rem;
    background: var(--secondaryColor5x);
    border: none;
}

input::placeholder{
    color: var(--secondaryColor50x);
    font-family: Raleway;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
}

.iconSeach{
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    cursor: pointer;
}

.login-btn{
    display: flex;
    width: 11.375rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    border: 1px solid var(--primaryColor);
}

.login-btn a{
    color: var(--primaryColor);
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.login-btn a:hover{
    opacity:.8;
    color: var(--whiteColor);
    background-color: var(--primaryColor);
    border: none;
}


/* Section Hero */

main.hero{
    display: flex;
    height: 22rem;
    padding: 2rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
    background-image: url('../img/hero.jpg');
    background-position: center;
    background-size: cover;
}

.hero__container{
    display: flex;
    width: 71rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 1rem;
    color: var(--whiteColor);
}

.hero__title{
    font-size: 3.25rem;
    font-weight: 700;
}

.hero__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    background: var(--primaryColor);
}

.hero__btn a{
    color: var(--whiteColor);
    padding: 1rem;
}

.hero__btn a:hover{
    background: var(--hoverColor);
}


/* Section Productos */

section.products{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    margin: 5rem 0;
}

.products__line-header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.back__btn{
    display: flex;
    align-items: center;
}

.back__btn a{
    color: var(--primaryColor);
    font-size: 1rem;
    font-weight: 700;
}

.back__btn a svg{
    position: relative;
    top:.4em;
}

.products__line-container{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.products__card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

/* Dashboard */

.dashboard{
    background-color: var(--secondaryColor5x);
    padding: 1rem 0;
}

.products__title{
    font-size: 2rem;
    font-weight: 700;
    align-self: flex-end;
}

figure{
    position: relative;
}

a.delete-icon{
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 5px;
    right: 30px;
}

a.update-icon{
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 5px;
    right: 5px;
}

/* Section Contacto */

section.contact{
    display: flex;
    padding: 4rem;
    justify-content: center;
    align-items: center;
    gap: 7.1875rem;
    align-self: stretch;
    background: var(--lightColor);
}

.contact__container{
    display: flex;
    width: 71rem;
    align-items: flex-start;
    justify-content: space-around;
    gap: 7rem;
}

.contact__links{
    display: flex;
    width: 11rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    flex-shrink: 0;
}

.contact__links li a{
    color: var(--secondaryColor100x);
}

form input{
    display: flex;
    padding-top: 8px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0.4375rem;
    align-self: stretch;
    border: none;
    min-height: 2.5rem;
    padding: 0rem 0.75rem;
    border-bottom: solid 1px var(--secondaryColor50x);
}

form input::placeholder{
    color: var(--secondaryColor50x);
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem; /* 133.333% */
}

form textarea{
    display: flex;
    padding: 0.75rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 2.8125rem;
    flex: 1 0 0;
    align-self: stretch;
    min-height: 5.125rem;
    border: none;
    border-bottom: solid 1px var(--secondaryColor50x);
    resize: none;
}

form textarea::placeholder{
    color: var(--preto-50, #A2A2A2);
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem; /* 125% */
}

.contact__form{
    display: flex;
    width: 35rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    flex-shrink: 0;
}

.form__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    background: var(--primaryColor);
}

.form__btn a{
    color: var(--whiteColor);
    padding: 1rem;
}

.form__btn a:hover{
    background-color: var(--hoverColor);
}

/* Footer */
.credits{
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
}